@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Squada+One&family=Yanone+Kaffeesatz:wght@300&family=Poppins&family=Staatliches&family=Lobster&family=Anton&family=Monoton&family=Teko:wght@300&family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');


$secondary: #598426;
$background: #292929;
$green: #43631D;

body {
    background-color: black;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
  }





/*HEADER MENU*/

.headerWallbang {
    background-color: black;
    padding-left:8%;
    padding-right:8%;
    /*margin-right: 2.6vh;*/
    opacity: 0.8;

    overflow: hidden;
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    top: 0; /* At the top */
    z-index: 99;
}

.navbar-brand {
    width: 25%;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
}

@media only screen and (max-width: 768px) {

    .navbar-brand {
        width: 40px;
    }
  }

.headerLinks {
    margin: 0;
    padding: 0;
    font-size: 120%;
    color: white;
    margin: 10px;
    text-decoration: none;
    font-family: 'Righteous', cursive;
}

.headerActive {
    margin: 0;
    padding: 0;
    font-size: 120%;
    color: $secondary;
    margin: 10px;
    text-decoration: none;
    font-family: 'Righteous', cursive;
}

.headerLinks:hover {
    color: $secondary;
    text-decoration: none;
}

.headerActive:hover {
    color: $secondary;
    text-decoration: none;
}



/*TITLE*/
.header{
    margin-top: 25%;
}

.title-header img {
    width: 100%;
    display:block;
    margin:auto;
}

.title-header {
    text-align: center;
}

.text-title {
    color: white;
    text-align: center;
    font-size: 4vw;
    font-family: 'Squada One',sans-serif;
    opacity: 0.9;
    margin: 0px;
}

.text-title span {
    color: white;
}

.btn-title {
    width: 300px;
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Righteous', cursive;
    background-color: $background;
    border-color: transparent;
    border-color: black;

    transition: 0.5s;
}

.btn-title:hover {
    background-color: $green;
    border-color: black;
}

.btn-title p {
    margin: -6px;
    padding: 0;

}

.space-header-about{
    padding-top: 65px;
    background-color: transparent;
}


/* BACKGROUND PARALLAX*/
.bg-title {
    position: absolute;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
}

.bg-parallax {
    position: relative;
    width: 1500px;
    top: -80px;
}



@media only screen and (min-width: 800px) {
    .header{
        margin-top: 20%;
    }
    .title-header img {
        width: 100%;
    }
    .bg-parallax {
        top: -50px;
    }
}

@media only screen and (min-width: 900px) {
    .header{
        margin-top: 20%;
    }
    .title-header img {
        width: 70%;
    }
}

@media only screen and (min-width: 1000px) {
    .header{
        margin-top: 18%;
    }
    .title-header img {
        width: 70%;
    }
}

@media only screen and (min-width: 1200px) {
    .header{
        margin-top: 13%;
    }
    .title-header img {
        width: 70%;
    }
}


@media only screen and (max-width: 800px) and (min-width: 601px) {
    .header{
        margin-top: 28%;
    }
    .bg-parallax {
        top: -60px;
    }

    .title-header img {
        width: 100%;
    }

    .text-title {
        font-size: 5vw;
    }
}

@media only screen and (max-width: 600px) and (min-width: 400px) {
    .header{
        margin-top: 40%;
    }
    .bg-parallax {
        top: -60px;
    }

    .title-header img {
        width: 100%;
    }

    .text-title {
        font-size: 5vw;
    }
}

@media only screen and (max-width: 399px) and (min-width: 200px) {
    .header{
        margin-top: 20%;
    }
    .bg-parallax {
        top: -60px;
        left: -140px;
    }

    .title-header img {
        width: 100%;
    }

    .text-title {
        font-size: 10vw;
    }

    .btn-title {
        width: 200px;
    }
}



/* telefono horizontal */
@media only screen and (max-height: 400px) and (min-height: 100px) and (min-width: 500px) {
    .header{
        margin-top: 8%;
    }


    .title-header img {
        width: 50%;
    }

    .text-title {
        font-size: 4vw;
    }

    .btn-title {
        width: 200px;
    }
}

@media only screen and (max-height: 480px) and (min-height: 401px)  and (min-width: 500px)  {
    .header{
        margin-top: 15%;
    }


    .title-header img {
        width: 50%;
    }

    .text-title {
        font-size: 4vw;
    }

    .btn-title {
        width: 200px;
    }
}
/**/









/* about */
.page-about {
    margin: 0;
    padding-top: 25px;
    background: $background;
}

.header-repositories {
    color: $secondary;
    margin-top: 5px;

    text-align: center;
    font-size: 300%;
    font-family: 'Squada One',sans-serif;
}

.text-repositories {
    color: white;
    opacity: 0.8;
    padding-bottom: 40px;
    font-size: 40px;
    font-family: 'Teko', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}


.container-repositories {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%,1fr));
    grid-template-rows: auto;
    grid-gap: 0 20px;
    margin-left: 0;

}

@media only screen and (max-width: 800px) {

    .container-repositories {
        grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    }
}

@media only screen and (max-width: 450px) {

    .container-repositories {
        grid-template-columns: repeat(auto-fill, minmax(100%,1fr));
    }

    .individual-repositories {
        margin-bottom: 100px;
    }
}

.individual-repositories {
    text-align: center;
}

.title-repositories {
    font-family: 'Squada One',sans-serif;
    color: $secondary;
    font-size: 35px;
    margin-bottom: 5px;
}

.description-about {
    height: 1.5em;
    margin:40px;
    margin-top: 20px;
    margin-bottom: 80px;
    color: white;
    opacity: 0.8;
    font-size: 30px;
    font-family: 'Teko', sans-serif;
    line-height: 1.2em;
}

@media only screen and (min-width:800px) and (max-width:1000px) {

    .description-about {
        font-size: 23px;
    }
    .title-repositories {
        font-size: 30px;
    }
}




/*carousel */

.carousel-caption {
    bottom:0px;
    top:0px;
    margin:0px;
    padding: 0px;
}

.container {
    position: relative;
    width: 100%;
    bottom: 0px;
    top: 0px;
    text-align: center;
    margin-top: 6%;
}

.space-background {
    background-color: $background;
}

.bgTextAlignRight {
    right: 60%;
}

.bgTextAlignLeft {
    left: 60%;
}

.bgTextAlignLeft .sliderText .titleCarousel {
    margin-top: 4vw;
}

.bgText {
    position: absolute;
    background-color: #000000a8;
    bottom: 0px;
    top: 0px;
    z-index: -100;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 45%;
    margin-top: 0px;
}

.sliderText {
    position: absolute;
    right: 100%;
    bottom: 0px;
    top: 0px;
    left: 0px;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 0px;
}

.titleCarousel {
    padding-top: 20%;
    padding-bottom: 5%;
    display: block;
    font-family: 'Squada One',sans-serif;

}

.textCarousel {
    display: block;
    font-family: 'Teko', sans-serif;
}

.textCarouselFinal {
    display: block;
    font-family: 'Teko', sans-serif;
}

/*
@media only screen and (max-width: 600px) {
    .textCarousel {
        font-size: 14px;
    }
}
*/
@media only screen and (min-width:991px) {
    .titleCarousel
    {
        padding-top: 15%;
        font-size: 35px;
    }
    .textCarousel {
        font-size: 30px;
        line-height: 30px;
    }
    .textCarouselFinal {
        font-size: 26px;
        line-height: 30px;
    }
}

@media only screen and (min-width:767px) and (max-width: 991px) {
    .titleCarousel
    {
        font-size: 28px;
    }
    .textCarousel {
        font-size: 20px;
        line-height: 20px;
    }
    .textCarouselFinal {
        font-size: 18px;
        line-height: 21px;
    }
}

@media only screen and (min-width:0px) and (max-width: 767px) {

    .sliderText {
        position: relative;
        display: none;
    }
    .bgText {
        position: relative;
        display: none;
    }
}







/* MEMBERS */

.page-team {
    z-index: 10;
    margin: 0;
    margin-top: -32px;
    background-color: $background;
    position: relative;
    padding-top: 40px;
    padding-left: 15%;
    padding-right: 15%;
}

.header-team {
    color: $secondary;
    margin-top: 5px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 300%;
    font-family: 'Squada One',sans-serif;
}
  
.cards {
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,160px));
    grid-gap: 0 12%;
    margin-left: 0;

    text-align: center;
    justify-content: center;
    margin: 0;
}

.card-image {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    transition: 0.3s;
    margin: 0;
    padding: 0;

    border-radius: 50%;

    border: 8px solid white;
}

.card-image:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.card-individual .card-title {
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'Squada One',sans-serif;
    color: white;
    font-size: 36px;
}

.card-individual .card-description {
    font-family: 'Teko', sans-serif;
    color: white;
    font-size: 26px;
    opacity: 0.5;
    margin: 0;
}


$social-button-transition: 0.5s ease all;

    .rounded-social-buttons {
        width: 100%;
        text-align: center;
        margin: 0;
        margin-bottom: 60px;

  
    .circle-button {
        display: inline-block;
        position: relative;
        cursor: pointer;
        width: 2.2rem;
        height: 2.2rem;
        border: .125rem solid transparent;
        padding: 0;
        text-decoration: none;
        text-align: center;
        color: white;
        font-size: 1.25rem;
        font-weight: normal;
        line-height: 2em;
        border-radius: 1.6875rem;
        transition: $social-button-transition;
        margin-right: .25rem;
        background-color: $background;
        text-align: center;

        margin-left: 8px;
        margin-right: 8px;
        margin-top: 10px;
      
      &:hover {
        transform: rotate(360deg);
        background-color: $green;
    }

    .img-social {
        background: #fff;
        height: 25px;
        width: 25px;
        transition: 0.5s;
        display: inline-block;
        margin: 0;
        padding: 0;
        color: white;
      }

      .twitter {
        -webkit-mask: url(../imgs/svg/twitter.svg) no-repeat 100% 100%;
      }

      .facebook {
        -webkit-mask: url(../imgs/svg/facebook.svg) no-repeat 100% 100%;
      }

      .tumblr {
        -webkit-mask: url(../imgs/svg/tumblr.svg) no-repeat 100% 100%;
      }
    }
  }





  /*CONTACT */
  .page-contact {
    z-index: 10;
    margin: 0;
    margin-top: -32px;
    position: relative;
    padding-top: 40px;
    width: 100%;
}

.header-contact {
    color: $secondary;
    margin-top: 5px;
    margin-bottom: 90px;
    text-align: center;
    font-size: 300%;
    font-family: 'Squada One',sans-serif;
}

.text-contact {
    color: white;
    opacity: 0.8;
    font-size: 40px;
    font-family: 'Teko', sans-serif;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;

    a {
        opacity: 1;
        color: $secondary;
        text-decoration: none;
        
        &:hover {
            opacity: 0.6;
        }
    }
}

.align-footer {
    text-align: center;
    margin-top: 120px;
}

.footer {

    display: inline-grid;
    grid-template-columns: repeat(3, minmax(25%,400px));
    grid-gap: 0 10%;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;

}

.footer-copy {
    color: white;
    opacity: 0.8;
    font-size: 30px;
    font-family: 'Teko', sans-serif;
    text-align: center;
    margin-bottom: 0;
}

.footer-legacy a {

        text-decoration: none;
        color: $secondary;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 30px;
        font-family: 'Teko', sans-serif;
        margin-bottom: 0;
        text-align: center;
        display: inline-block;
        

        &:hover {
            opacity: 0.6;
        }
    
}


@media only screen and (min-width:0px) and (max-width: 767px) {

    .footer-legacy a {
        font-size: 25px;
    }

    .footer-copy {
        font-size: 25px;
    }
}







